<html>

<head>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"></script>
    <title>Pro Ludo Club</title>
</head>

<body>
    <h1>Player <% if(data) data.playerName %>
    </h1>
    <script type="text/javascript" src="./js/lobbyRoom.js"></script>


</body>