<html>

<head>
    <script language="JavaScript">var baseUrl = "<%= baseUrl %>"</script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"></script>
    <title>Pro Ludo Club</title>
</head>

<body>


    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="lobby-box col-md-6 col-xs-12">
                        <div class="card">
                            <div class="card-header">

                                <h3 class="text-center"> Pro Ludo Club</h3>
                            </div>
                            <div class="card-body">
                                <div id="form">


                                    <div class="input-group mb-3">

                                        <input type="text" id="playerName" name="playerName" placeholder="playerName" />

                                        <input type="text" id="user" name="user" placeholder="user" />

                                        <div class="input-group-append">
                                            <button id="register" class="btn btn-outline-secondary" type="button"
                                                id="button-addon2">Join Now</button>
                                        </div>
                                    </div>



                                    <div class="form-row align-items-center">
                                        <div class="col-sm-12">
                                            <label id="nicknameError" style="color:red; font-weight: bold;"></label>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./js/register.js"></script>


</body>